/*Styling here if not possibly through bootstrap*/
body{
  height: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
}
/* switch to turn of multiple region selection */
#customSwitches{
}
/* checkbox's in relation to regions */
.region{
  clear: none;
   width: auto;
}

.leftpane{
  background-color: #FFFFFF;
  position: absolute;
}
.react-player {
  position: absolute;
}
/* Footer */
.container{ 
  background-color: #FFFFFF;

}




